<h1>Ask a question</h1>
<p>What would you like to ask...</p>

<form class="form-inline" action="/answer">
  <input class="form-control" type="text" name="question" placeholder="Ask a question">
  <input class="btn btn-warning" type="submit" value="Ask!" >
</form>

