// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// p {
//   font-size: 25px;
// }

// .answer {
//   background-color: #FFFEE1;
// }

blockquote {
  margin: 20px 0;
  // margin-top: 0;
  margin-bottom: 16px;
  padding: 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;

  font: 16px sans-serif;

  &>:first-child {
    margin-top: 0;
    color: #333;
  }

  &>:last-child {
    margin-bottom: 0;
  }
}

input[type="text"] {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="submit"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.blockquote-yellow {
  background: #FDFFDE;
}
